<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.BoardDeptMapper">
	
	<!-- 페이징 -->
	<select id="selectBoardDeptListRowPerPage" parameterType="int" resultType="com.example.lms.dto.BoardDepartment">
		SELECT post_Id postId
				, user_id userId
				, category, title
				, createdate
				, updatedate 
		FROM board_department
		WHERE department_id = #{departmentId}
		ORDER BY createdate DESC
		LIMIT #{startRow}, #{rowPerPage}
	</select>
	
	<!-- 게시물 카운트 -->
	<select id="selectCountBoardDeptList" parameterType="int" resultType="int">
		SELECT count(*)
		FROM board_department
		WHERE department_id = #{departmentId}
	</select>

	<!-- 게시물 추가 -->
	<insert id="insertBoardDept" parameterType="com.example.lms.dto.BoardDepartment" useGeneratedKeys="true" keyColumn="post_id" keyProperty="postId">
		INSERT
		INTO board_department(department_id, user_id, category, title, content, hit_count, file)
		VALUES(#{departmentId}, #{userId}, #{category}, #{title}, #{content}, #{hitCount}, #{file})
	</insert>
	<!-- 게시물 첨부파일 -->
	<insert id="insertBoardDeptFile" parameterType="com.example.lms.dto.BoardDepartmentFile">
		INSERT
		INTO board_department_file(post_id, file_name, origin_name, file_size, file_extension)
		VALUES(#{postId}, #{fileName}, #{originName}, #{fileSize}, #{fileExtension})
	</insert>
</mapper>