<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lms.mapper.UserMapper">

    <select id="login" parameterType="com.example.lms.dto.User"
            resultType="com.example.lms.dto.User">
        SELECT 
            user_id AS userId,
            login_id AS loginId,
            user_name AS userName,
            department_id AS departmentId,
            role
        FROM users
        WHERE login_id = #{loginId}
          AND password = #{password}
    </select>

</mapper>